@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-family: 'inter', sans-serif !important;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glassmorphism{
  background: rgba(78, 76, 76, 0.15);
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 1px solid rgba(87, 87, 87, 0.18);
}